{% extends "layouts/base.html" %}
<!-- really interesting way for 11ty to do inheritance -->
<!-- layouts can inherit from parent layouts and can use things like block quotes to override default behaviour found in
parents
-->
<!-- looks like you might only be able to extend from files in the "layout" folder -->

<!-- the contact page can now use this as its layout rather than directly the parent base layout -->

{% block head %}
<meta name="description" content="{{description}}" />
<link rel="stylesheet" href="/css/contact.css" />
{% endblock %}
